################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/demo-api/bin/Debug/net6.0
/demo-api/obj
